<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:insert="~{fragments/head}"></th:block>
<script th:src="@{/js/reservation.js}"></script>
</head>
<body>
	<header>
		<th:block th:insert="~{fragments/navbar}"></th:block>
	</header>
	<main>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row my-5">
					<div class="card-body">
						<div th:replace="~{fragments/components/select-office :: select( inputOffice, ${officeNames} )}"></div>
						<div th:replace="~{fragments/components/select-service :: select( inputService, ${serviceNames}, 'display: none;' )}"></div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{fragments/reservation-available-dates}"></div>
	</div>
	</main>
	<footer>
		<th:block th:insert="~{fragments/footer}"></th:block>
	</footer>
</body>
</html>