<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
    <script th:src="@{/js/forms-fields-validation.js}"></script>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<main>
    <div th:insert="~{fragments/company-form:: company-form-fragment(
        url=@{${T(com.petia.dollhouse.constants.Constants).ADD_COMPANY_ACTION}},
        title=#{companyform.add.title},
        methodLabel=${T(com.petia.dollhouse.constants.Constants).FORM_METHOD},
        buttonText=#{form.add.button}
        )}">

    </div>
    <script>
        function handleInterval( fieldId, helperId, from, to ) {
        let field = $(fieldId);
        let helpText = $(helperId);
        let value = field.val().trim();

        if (value == null || value === "" || value < from || value > to) {
            showHelpText(field, helpText, EMPTY_MESSAGE);
        } else {
            removeHelpText(field, helpText);
        }
    }
    </script>
</main>
<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>

</body>
</html>