<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<main>
    <div th:insert="~{fragments/company-form:: company-form-fragment(
        url=@{${T(com.petia.dollhouse.constants.Constants).ADD_COMPANY_ACTION}},
        title=#{companyform.add.title},
        methodLabel='post',
        buttonText=#{form.add.button}
        )}">

    </div>

</main>
<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>
</html>