<th:block th:fragment>
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <div th:replace="~{fragments/components/side-bar-item :: side-bar-item(link=@{${T(com.petia.dollhouse.constants.Constants).ALL_COMPANY_ACTION}},title=#{admin.sidebar.company.title})}"></div>
                <div th:replace="~{fragments/components/side-bar-item :: side-bar-item(link=@{${T(com.petia.dollhouse.constants.Constants).ALL_OFFICE_ACTION}},title=#{admin.sidebar.office.title})}"></div>
                <div th:replace="~{fragments/components/side-bar-item :: side-bar-item(link=@{${T(com.petia.dollhouse.constants.Constants).AlL_EMLOYEES_ACTION}},title=#{admin.sidebar.employee.title})}"></div>
                <div th:replace="~{fragments/components/side-bar-item :: side-bar-item(link=@{${T(com.petia.dollhouse.constants.Constants).ALL_SERVICE_ACTION}},title=#{admin.sidebar.servce.title})}"></div>
                <div th:replace="~{fragments/components/side-bar-item :: side-bar-item(link=@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}},title=#{admin.sidebar.promooffer.title})}"></div></div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <!-- TODO -->
        </div>
    </div>
</th:block>
