<th:block th:fragment>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554471285/dh_images/home_1900x1080.jpg')">
               
            </div>

            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470943/dh_images/29983072_400576933740993_6283176179606104964_o.jpg')">
               
                <div class="carousel-caption d-none d-md-block">
                    <h3>Manicure</h3>
                    <p>We care about your hands...</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554471286/dh_images/manicures_1900x1080.jpg')">
                
                <div class="carousel-caption d-none d-md-block">
                    <h3>pedicure</h3>
                    <p>We care about your foot...</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554471285/dh_images/eyelashes_1900x1080.jpg')">
               
                <div class="carousel-caption d-none d-md-block">
                    <h3>Eyelashes</h3>
                    <p>We care about your eyelashes...</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</th:block>