<!-- Navigation -->
<th:block>
  <th:block sec:authorize="isAnonymous()">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark custom-color">
      <div class="container">
        <a class="navbar-brand text-dark leftTop" th:href="@{${T(com.petia.dollhouse.constants.Constants).INDEX_ACTION}}" th:text="#{app.title}"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsiveAnonymous" aria-controls="navbarResponsiveAnonymous"
          aria-expanded="false" aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsiveAnonymous">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ABOUT_ACTION}}" th:text="#{navbar.about.title}"></a></li>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).CONTACT_ACTION}}" th:text="#{navbar.contact.title}"></a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).LOGIN_FORM_ACTION}}" th:text="#{navbar.login.title}"></a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).REGISTER_FORM_ACTION}}"
              th:text="#{navbar.register.title}"
            ></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </th:block>
  <th:block sec:authorize="isAuthenticated()">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark custom-color">
      <div class="container">
        <a class="navbar-brand leftTop text-dark text-left" th:href="@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}}">Welcome <span th:text="${username}"></span>
          in <span th:text="#{app.title}"></span>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ABOUT_ACTION}}" th:text="#{navbar.about.title}"></a></li>
            <th:block sec:authorize="hasRole('ROLE_MODERATOR')">

              <li class="nav-item active"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ALL_RESERVATIONS_ACTION}}"
                th:text="#{reservation.all.title}"
              ></a></li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
              <li class="nav-item active"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ADMIN_SIDEBAR_ACTION}}"
                th:text="#{admin.button.title}"
              ></a></li>
            </th:block>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ADD_RESERVATION_ACTION}}"
              th:text="#{reservation.add.title}"
            ></a></li>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).MY_RESERVATIONS_ACTION}}"
              th:text="#{reservation.my.title}"
            >My Reservations</a></li>
            <li class="nav-item active"><a class="nav-link text-dark" th:href="@{/users/profile}" th:text="#{navbar.profile.title}">Profile</a></li>
            <li class="nav-item"><a class="nav-link text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).CONTACT_ACTION}}" th:text="#{navbar.contact.title}"></a>
            </li>
            <li class="nav-item active">
              <form th:action="@{${T(com.petia.dollhouse.constants.Constants).LOGOUT_FORM_ACTION}}" method="post">
                <button class="logout-button nav-link text-dark" th:text="#{navbar.logout.title}"></button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </th:block>
</th:block>