<th:block th:fragment="office-form-fragment(url, title, methodLabel, buttonText)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${title}"></h5>
                        <form class="form-signin" th:action="${url}" th:method="${methodLabel}">
                            <div class="form-label-group">
                                <input type="text" id="inputname" class="form-control" placeholder="Name" name="name"
                                       th:value="${bindingModel.name}" required>
                                <label for="inputname">Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="inputAddress" class="form-control" placeholder="Address"
                                       name="address" th:value="${bindingModel.address}" required>
                                <label for="inputAddress">Address</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" id="inputPhoneNumber" class="form-control"
                                       placeholder="phoneNumber" name="phoneNumber"
                                       th:value="${bindingModel.phoneNumber}"
                                       required>
                                <label for="inputPhoneNumber">Phone Number</label>
                            </div>
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control"
                                       placeholder="Email" name="email"
                                       th:value="${bindingModel.email}" required>
                                <label for="inputEmail">Email</label>
                            </div>

                            <div class="form-label-group">
                                <label for="inputCompany">Company</label>
                                <select class="form-control" id="inputCompany">
                                    <option th:each="companyName : ${companyNames}" th:value="${companyName.id}"
                                            th:text="${companyName.name}"></option>
                                </select>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" th:text="${buttonText}"
                                    type="submit">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>