<th:block th:fragment="reservation-available-table-fragment">
	<div class="row" id="available-hours" style="display: none;">
		<div class="col-lg-10 col-xl-9 mx-auto">
			<hr class="hr-1 bg-dark" />
			<h5 class="text-center text-dark" th:text="#{reservation.calendar.title}"></h5>
			<hr class="hr-1 bg-dark" />
			<div class="card card-signin flex-row my-5">
				<div class="single-booking-table d-flex">
					<th:block th:each="i : ${#numbers.sequence( 1, 3)}">
						<div class="single-date-hours active">
							<div class="booking-day">
								<h5 th:text="#{reservation.calendar.monday}"></h5>
								<h6 th:text="${#calendars.format(#calendars.createNow(), 'dd MMM')}"></h6>
							</div>
							<div class="booking-hours d-flex flex-wrap">
								<th:block th:each="j : ${#numbers.sequence( 9, 18)}">
									<span class="active" th:text="${ j } + ':00'"></span>
								</th:block>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			<hr class="hr-1 bg-dark" />
		</div>
	</div>
</th:block>