<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<th:block th:insert="~{fragments/head}"></th:block>
	<script th:src="@{/js/edit-empoyee.js}"></script>
</head>
<body>
<heder>
	<th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<main>
	<div th:insert="~{fragments/employee-form :: employee-form-fragment(
        url=@{${T(com.petia.dollhouse.constants.Constants).DELETE_EMPLOYEE_ACTION}}+${id},
        title=#{employeeform.delete.title},
        methodLabel=${T(com.petia.dollhouse.constants.Constants).FORM_METHOD},
        buttonText=#{form.delete.button}
        )}">

	</div>
	<script>
		$(document).ready(function () {
			$('form input[type="text"]').prop("disabled", true);
			$('form input[type="password"]').prop("disabled", true);
			$('form input[type="email"]').prop("disabled", true);
			$('#inputOffice').prop("disabled", true);
			$('form input[type="file"]').prop("disabled", true);
		});
	</script>
</main>
<footer>
	<th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>
</html>