<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<th:block th:insert="~{fragments/head}"></th:block>
</head>

<body>

	<th:block th:insert="~{fragments/navbar}"></th:block>

	<main>
	<div class="jumbotron mt-4">
		<h1 class="display-1" th:text="${error-message}"></h1>
		<h1 th:text="${T(com.petia.dollhouse.constants.Constants).ERROR_MESSAGE_TITLE}"></h1>
		<h2>Error: 404</h2>
		<hr />
	</div>
	</main>

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<th:block th:insert="~{fragments/footer}"></th:block>
	</footer>
	</div>
</body>
</html>