<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<!-- Page Content -->
<div class="container jumbotron-fluid">
    <hr class="hr-2 bg-dark"/>
    <!-- Intro Content -->
    <h2>About <span th:text="#{company.name}"></span></h2>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4"
                 src="https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470918/dh_images/contact.jpg"
                 alt="aboutimg">
        </div>
        <div class="col-lg-6">
            <p class="card-text" th:text="#{about.paragraph.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia
                eum ipsum fugiat odio officiis odit.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2 th:text="#{company.team.title}"></h2>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470907/dh_images/doll_pink.jpg"
                     alt="">
                <div class="card-body">
                    <h4 class="card-title">Ani Ivanova</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Owner</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia
                        eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">ani@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470907/dh_images/doll_pink.jpg"
                     alt="">
                <div class="card-body">
                    <h4 class="card-title">Iva Petrova</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Manicure Employee</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia
                        eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">iva@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470907/dh_images/doll_pink.jpg"
                     alt="">
                <div class="card-body">
                    <h4 class="card-title">Lili Ivanova</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Pedicure Employee</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia
                        eum ipsum fugiat odio officiis odit.</p>
                </div>
                <div class="card-footer">
                    <a href="#">ivan@example.com</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>

</html>
