<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<!-- Page Content -->
<div class="container jumbotron-fluid">
    <hr class="hr-2 bg-dark"/>
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-6 mb-3">About <span th:text="#{app.title}"></span></h1>
    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4"
                 src="https://res.cloudinary.com/dollhouce-cloud/image/upload/v1554470918/dh_images/contact.jpg"
                 alt="aboutimg">
        </div>
        <div class="col-lg-6">
            <p th:text="${model.companyDescription}"></p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <h2>Our Team</h2>
    <div class="row">
        <th:blok th:each="employee, iter : ${model.employeeViewModels}">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" th:src="${employee.imageUrl}" alt="">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${employee.fullName}"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${employee.position}"></h6>
                        <p class="card-text" th:text="${employee.workDescription}"></p>
                    </div>
                    <div class="card-footer">
                        <a href="#" th:text="${employee.email}"></a>
                    </div>
                </div>
            </div>

        </th:blok>
    </div>
</div>
<!-- /.container -->

<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>

</html>
