<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>
<main>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3" th:text="#{admin.sidebar.title}"></h1>
        <div th:replace="~{fragments/admin-side-bar}"></div>
    </div>
</main>

<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>

</html>
