<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<heder>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</heder>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Admin Tasks</h1>

<!-- Content Row -->
    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-lg-3 mb-4">
        <div class="list-group">
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ADD_COMPANY_ACTION}}">Add Company </a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ALL_COMPANY_ACTION}}">All Companies</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ADD_OFFICE_ACTION}}">Add Office</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ALL_OFFICE_ACTION}}">AllOffices</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).ADD_EMPLOYEE_ACTION}}">Add Employee</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).AlL_EMLOYEES_ACTION}}">All Employees</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}}">Add Service</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}}"> All Services</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}}">Add Promotion Offer</a>
         <a class="list-group-item text-dark" th:href="@{${T(com.petia.dollhouse.constants.Constants).HOME_ACTION}}"> All Promotion Offers</a>
        </div>
      </div>
      <!-- Content Column -->
      <div class="col-lg-9 mb-4">
        <!-- TODO -->
      </div>
    </div>
    <!-- /.row -->
 </div>
  <footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
</body>

</html>
