<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>

<body>
<th:block th:insert="~{fragments/navbar}"></th:block>
<header>
    <th:block th:insert="~{fragments/header}"></th:block>
</header>

<!-- Page Content -->
<main class="custom-color">
    <th:block th:insert="~{fragments/promo-offers}"></th:block>
</main>
<hr/>
<!-- Footer -->
<footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
    <!-- /.container -->
</footer>
</body>

</html>
