<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
  <heder> <th:block th:insert="~{fragments/navbar}"></th:block> </heder>
  <main>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <!--image-->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" th:action="@{${T(com.petia.dollhouse.constants.Constants).REGISTER_FORM_ACTION}}" method="post">
              <div
                th:replace="~{fragments/components/input :: input( text, inputUsername, username, '', 'Username', true, ${T(com.petia.dollhouse.constants.Constants).USERNAME_REGEX}, 'Field must be between 5 and 10 digits or letters' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( text, inputEmail, email, '', 'Email', true, ${T(com.petia.dollhouse.constants.Constants).EMAIL_REGEX}, 'Field must valid email address' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( password, inputPassword, password, '', 'Password', true, ${T(com.petia.dollhouse.constants.Constants).PASSWORD_REGEX}, 'Field must be min 6 symbols - at least one digit, upper letter, lower letter and special symbols!' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( password, inputConfirmPassword, confirmPassword, '', 'Confirm Password', true, ${T(com.petia.dollhouse.constants.Constants).PASSWORD_REGEX}, 'Field must be min 6 symbols - at least one digit, upper letter, lower letter and special symbols!' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( text, inputFirstName, firstName, '', 'First Name', true, ${T(com.petia.dollhouse.constants.Constants).MIN_TEXT_FIELD_REGEX}, 'Field must be at least 3 symbols' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( text, inputLastName, lastName, '', 'Last Name', true, ${T(com.petia.dollhouse.constants.Constants).MIN_TEXT_FIELD_REGEX}, 'Field must be at least 3 symbols' )}"
              ></div>
              <div
                th:replace="~{fragments/components/input :: input( text, inputPhoneNumber, phoneNumber, '', 'Phone Number', true, ${T(com.petia.dollhouse.constants.Constants).PHONE_NUMBER_REGEX}, 'Field must be between 7 and 12 digits' )}"
              ></div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
  <footer>
    <th:block th:insert="~{fragments/footer}"></th:block>
  </footer>
</body>
</html>